* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  color: white;

  & {
    background-color: darkred;
    text-align: center;
  }
}

h3 {
  @extend .fondoColor;
  padding: 1rem;
}

h4 {
  padding: 1rem;
}

$rrss: (
  instagram:#c92d8f,
  facebook: #55acee,
  whatsapp: green,
);


@each $name, $color in $rrss {
  .#{name} {
  background-color: $color;
  margin: 0 5px;
  padding: 10px;
  color: #fff;
  border-radius: 20px ;
  }
}
