

footer {
  text-decoration: none;
  color: white;
  background-color: darkred;
  font-style:normal;
  font-size: 18px;
  line-height: 3;
  text-align: center;
}

h3 {
  padding: 1rem;
}

h4 {
  padding: 1rem;
}

$rrss: (
  instagram:#c92d8f,
  facebook: #55acee,
  whatsapp: green,
);


@each $name, $color in $rrss {
  .#{name} {
  background-color: $color;
  margin: 0 5px;
  padding: 10px;
  color: #fff;
  border-radius: 20px ;
  }
}
