header {
        color: white;
        font-size: 18px;
}


.flex {
    background-color: black;
    width: 100%;
    font-size: 17px;
    font-weight: 900;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


a {
    text-decoration: none;
    color: white;
}

.logotipo {
    border-radius: 50%;
    display: block;
    margin: auto;
}