main {
    background-color: darkred;

    & {
        text-align: center;
        color: white;
    }
}

.numero {
    background-color: $bgcolor;
    font-size: 30px;
    font-style: bold;
}

.contact {
    background-color: $bgcolor;
}
.contacto__grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 35px;
    padding: 2rem;
}

// MIXIN!!!

@mixin pad ($p) {
    padding:$p;   
}

.comentarios { 
    @include pad (auto)
}

.botones {
    @include pad (auto)
}


